
@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>

@model List<NGO>

<h2>NGOs</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Contact Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var NGO in Model)
        {
            <tr>
                <td>@NGO.Name</td>
                <td>@NGO.Address</td>
                <td>@NGO.ContactNumber</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@NGO.NGOId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@NGO.NGOId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
